# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# Chroma database
chroma_db/

# Runtime memory
memory/memory.json